.header{
    height: 34vw;
    margin: 30px auto;
    background-size: contain;
    position:relative;
    background-image:url('/header_img.png');
    background-repeat: no-repeat;

    
}
.header-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:15px;
    max-width: 50%;
    bottom: 10%;
    left:6vw;

}
.header-contain p{
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.header-contain button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
}